<div class="container">
  <h1 class="uppercase inline">
    <%= @user.first_name %> <%= @user.last_name %>
  </h1>
  <h2 class="inline grey-50"><%= @user.email %></h2>
  <span class="glyphicon glyphicon-warning-sign"></span>
</div>