<% @body_class = "blue-steel-bkg" %>
<div class="container padding-large">
  <div class="padding-large">
    <h2 class="inline grey-70 inline x-large">welcome</h2>
    <h1 class="uppercase inline xx-large grey-30">
      <%= @user.first_name %>
    </h1>
  </div>
</div>