<div class="container padding-large">

  <%= form_tag user_songs_path, method: 'get', class: 'form-inline' do %>
    <div class="form-group">
      <input type="text" name="search" class="form-control" placeholder="Search" value="<%= params[:search] %>">
    </div>
    <button type="submit" class="btn blue-aragonite-bkg white white-hover">
      Search
    </button>
  <% end %>

  <h3>Selected Songs</h3>
  <%= render partial: 'songs', locals: { songs: @selections, type: :add } %>

  <h3>Searched Songs</h3>
  <%= render partial: 'songs', locals: { songs: @songs, type: :delete } %>

</div>
